<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
  <h1>CS253 Blog</h1>
    <form method="post">
      <div>subject</div>
      <input type="text" name="subject">
      <div>content</div>
      <textarea name="content" rows="10" cols="60"></textarea><br/>
      <input type="submit" value="submit">
      <div style="color: red">{{ error }}</div>
    </form>
</body>
</html>
