<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  </head>
  <body>

    <h1>CS253 Blog</h1>

    <div class="post">
      <div class="title">{{ post.subject }}</div>
      <div class="date">{{ post.created.strftime("%b %d, %Y") }}</div>
      <hr/>
      
      <div class="content">{{ post.content }}</div>
    </div>

    <div id="queried">
      queried {{ queried }} seconds ago.
    </div>
  </body>


</html>

